* {
    background-color: black;
    /* border: solid red 2px; */
    
}


.container {
    width: 1000px;
    height: 500;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

    p {
        color: whitesmoke;
        }

    button, input {
        width: 100px;
        color: whitesmoke;
        font-size: 15px;
    }

    .result {
        width: 1000px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .resultUI {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
