* {
    background-color: black;
    
}


.container {
    width: 1000px;
    height: 500;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

    p {
        color: whitesmoke;
        }

    button {
        width: 100px;
        color: whitesmoke;
        font-size: 15px;
    }
